* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.board {
	width: 394px;
	height: 394px;
	background-color: #ffe4c4;
	border: 1px solid black;
	font-size: 0;
}

.first-line  {
	display: block;
	width: 100%;
	height: 48px;
	background-color: #ffe4c4;
	/*border: 1px solid black;*/
	/*padding: 4px;*/
}

.second-line {
	display: block;
	width: 100%;
	height: 48px;
	/*font-size: 0;*/
	/*padding: 4px;*/
	/*border: 1px solid black;*/
	
}

.cell {
	display: inline-block;
	/*box-sizing: border-box;*/
	width: 49px;
	height: 49px;
	border: 1px solid black;
}

/*li::before {
	content: '';
	display: block;
	border: 2px solid red;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	margin: 5% auto; 
}*/


.first-line .cell:nth-child(odd) {
	background-color: black;
	position: relative;
}

.second-line .cell:nth-child(even) {
	background-color: black;
}

.first-line .cell:nth-child(odd):before {
	content: '';
	width: 45px;
	height: 45px;
	border: 2px solid orange;
	border-radius: 50%;
	position: absolute;
	background-color: #f0e68c;
}





ul.first-line li:nth-child(even) {
	background-color: #fff8dc;
}
 
